<div class="page-outer">
    <div class="page-middle" [ngStyle]="ngStyleButton(2)">
        <div class="navigation-bar" [ngStyle]="ngStyleButton(3)">
            <i *ngIf="!lButton" class="fa fa-arrow-left icon-left" [ngStyle]="ngStyleIcon(1)"
                (click)="backButtonClicked()"></i>
            <i *ngIf="0 && lButton=='info'" class="fa fa-info-circle icon-left" [ngStyle]="ngStyleIcon(1)"></i>
            <span class="navTitleBar">
                <div>Zombiegeddon</div>
                <div class="navTitle">The Movie</div>
                <!--<div class="navTitle"><i *ngIf="icon" class="fa {{icon}}"></i> {{navTitle}}</div>-->
            </span>
            <i *ngIf="rButton=='home'" [routerLink]="['/']" class="fa fa-home"
                style="font-size: 28px; float: right; cursor: pointer;" [ngStyle]="ngStyleIcon(1)"></i>
            <a routerLink="/options" *ngIf="0 && navTitle == 'Main Menu'"><i class="fa fa-paint-brush"
                    style="font-size: 28px; float: right;" [ngStyle]="ngStyleIcon(1)"></i></a>
        </div>
        <div class="page-inner" [ngStyle]="ngStyleButton(2)">
            <ng-content></ng-content>
        </div>
    </div>
</div>
