<app-page-shell [lButton]="'info'" [navTitle]="'Main Menu'" [icon]="'fa-bars'">

    <img src="assets/graphics/topBanner.png" style="width: 100%;">

    <div>Official Traler:</div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cU9vf64SPi8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>Initial Trailer:</div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GHZoR80cQ9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <div class="sectionTile">
        <h3>Film Synopsis</h3>
        <p>
            Strange mysteries are enveloping Seattle, as unusually bloody crime scenes begin popping up with ever
            greater frequency. Compounding the chaos is the discovery of a new and deadly virus that is turning its
            victims into zombies.
        <p>
            Eight strangers find their lives intersecting as they fight to stay alive while searching for answers, only
            to
            discover the origins of the pandemic are more frightening than anyone could have imagined.
        </p>
        <p>
            Humanity faces its greatest challenge yet as it comes to grips with the possibility of total annihilation.
        </p>
    </div>

    <div>
        <h3>Cast</h3>
        <app-card *ngFor="let person of cast" [person]="person"></app-card>
    </div>
    <hr>
    <div>
        <h3>Crew</h3>
        <app-card *ngFor="let person of crew" [person]="person"></app-card>
    </div>

    <div style="padding: 10px;">
        <a href="mailto:rickmedved@hotmail.com">
            <button type="button" class="btn btn-primary roundButton" [ngStyle]="ngStyleSegment(0,1)"> <i
                    class="fa fa-envelope"></i> Contact
            </button></a>

            <a href="https://www.facebook.com/groups/308644537328075">
                <button type="button" class="btn btn-primary roundButton" [ngStyle]="ngStyleSegment(0,1)"> <i
                        class="fa fa-facebook"></i> Facebook Group
                </button>
            </a>
            <a href="https://www.imdb.com/title/tt14397440/">
                <button type="button" class="btn btn-primary roundButton" [ngStyle]="ngStyleSegment(0,1)"> <i
                        class="fa fa-imdb"></i> IMDb Page
                </button>
            </a>
        


    </div>



</app-page-shell>