.sectionTile {
    background-color: white;
    color: black;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 2px 5px black;
}